<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/uni_style.css" />
<title>Edytuj dane uczelni</title>
</head>
<body>
	<div align="center">
		<!--  Page header  -->
		<h1>Edytuj dane uczelni</h1>
		<br />
		<form action="#" th:action="@{/uczelnie/update}" th:object="${uczelnie}"
			method="post">
			<table class="content-table">
				<tr>
					<td>Nr uczelni</td>
					<td><input type="text" th:field="*{nr_Uczelnia}"
						readonly="readonly"></td>
				</tr>
				<tr>
					<td>Nazwa uczelni</td>
					<td><input type="text" th:field="*{nazwa_U}"></td>
				</tr>
				<tr>
					<td>Data założenia</td>
					<td><input type="text" th:field="*{data_zalozenia}"></td>
				</tr>
				<tr>
					<td>Adres e-mail</td>
					<td><input type="text" th:field="*{mail}"></td>
				</tr>
				<tr>
					<td>Nr telefonu</td>
					<td><input type="text" th:field="*{telefon}"></td>
				</tr>
				<tr>
					<td>Nr adresu</td>
					<td><input type="text" th:field="*{nr_adresu}"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Zatwierdź
							zmiany</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>