<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/css/error.css" type="text/css" rel="stylesheet" />
<title>Wystąpił błąd</title>
</head>
<body>
	<div class="container">
		<img src="https://i.imgur.com/qIufhof.png" />
		<!-- Illustration taken from
        <a href="https://www.kapwing.com/404-illustrations" target="_blank"
          >kapwing.com</a
        > -->
		<h1>
			<span>404</span> <br /> Strony nie odnaleziono
		</h1>
		<p class="info">
			<a href="/">Powrót do strony głównej</a>
		</p>
	</div>
</body>
</html>